<div>
<%= month_calendar events: @trainings do |date,trainings| %>
  <%= date.day %>

  <% trainings.each do |trainings| %>
    <div>
      <%= link_to training.training_name, training %>
    </div>
  <% end %>
<% end %>
</div>
</div>
</div>