

     <% if user_signed_in? %>
     <nav class="navbar navbar-light bg-light">
     <div class="container-fluid">
      <%= link_to current_user.nickname, user_path(current_user), class: "navbar-brand" %>
      </div>
    </nav>
    <nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: "navbar-brand" %> 
      </div>
      </nav>
    <% else %>
    <nav class="navbar navbar-light bg-light">
     <div class="container-fluid">
      <%= link_to 'Login', new_user_session_path, class: "navbar-brand" %>
      </div>
      </nav>
      <nav class="navbar navbar-light bg-light">
      <div class="container-fluid">
      <%= link_to '新規登録', new_user_registration_path, class: "navbar-brand" %>
      </div>
      </nav>
    <% end %>
    